@using CarsOwner.Models.Enum
@using CarsOwner.Resource
@model CarsOwner.Models.CarListViewModel

@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="index-header">
        <h3>@ConstantNames.ListCars</h3>
        <span>
            @Html.HiddenFor(x => x.PageInfo.PageNumber)
            Количество елементов на страницу
            @Html.EnumDropDownListFor(x => x.PageSizeEnum)
        </span>
    </div>
    <hr/>
    <div class="home-index-ListModel">
        @Html.Partial(MethodName.PartialViewCar, Model)
    </div>



</div>
<script src="~/Scripts/Home/jq-selectCount.js"></script>



