@using CarsOwner.Resource

@{
    ViewBag.Title = ConstantNames.WhatNew;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ConstantNames.WhatNew</h2>
<hr />
<div class="div-left col-sm-6 col-md-4">
    <h3>Что сделано</h3>
    <div style="width: 90%; border: 1px solid black; padding: 5px; border-radius: 5px;background: darkturquoise;">
        Создать представление для отображения машины + подкорректировать ссылки меню
        <span style="float: right; width: 10%;">R + D</span>
    </div>
</div>
<div class="div-right col-sm-6 col-md-4">
    <h3>Планируеться</h3>
    <div style="width: 100%; border: 1px solid black; padding: 5px; border-radius: 5px;background: gold;">
        отдельная страничка, что сделано, что планируется
        <span style="float: right; width: 10%;">R + D</span>
    </div>
</div>
@*<div class="descripion-foot">
    add
</div>*@