@using CarsOwner.Resource
@model CarsOwner.Models.CarViewModel

@{
    ViewBag.Title = "CarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Car.Model @Model.Car.СarMake</h2>

<div>
    <h4></h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <a href=@Url.Action("Index", "Home") class="btn btn-primary" role="button">@ConstantNames.MainPage</a>
    
</p>
